Django==1.6.2
argparse==1.2.1
django-localflavor==1.0
django-openid-auth==0.5
django-tastypie==0.11.0
python-dateutil==2.2
python-mimeparse==0.1.4
python-openid==2.2.5
reportlab==3.0
six==1.5.2
wsgiref==0.1.2
