{% extends "invoices/base-invoices.html" %}
{% load i18n %}
{% block container %}
<h3>{% trans "Customer" %}</h3>
<p>
  <a type="button" class="btn btn-default btn-xs" href="{% url 'customer-edit' customer.id %}">
    <span class="glyphicon glyphicon-edit"></span>
  </a>
  <a type="button" class="btn btn-default btn-xs"  href="{% url 'customer-delete' customer.id %}">
    <span class="glyphicon glyphicon-trash"></span>
  </a>
</p>
<table class="table table-hover">
  <tbody>
    <tr>
      <td>{% trans "Product" %}</td><td>{{customer.surname}}</td>
    </tr>
    <tr>
      <td>{% trans "Customer in" %}</td><td>{{customer.name}}</td>
    </tr>
    <tr>
      <td>{% trans "VAT in" %}</td><td>{{customer.address}}</td>
    </tr>
    <tr>
      <td>{% trans "Gain" %}</td><td>{{customer.tax_code}}</td>
    </tr>
    <tr>
      <td>{% trans "VAT out" %}</td><td>{{customer.vat_code}}</td>
    </tr>
    <tr>
      <td>{% trans "Customer out" %}</td><td>{{customer.phone}}</td>
    </tr>
    <tr>
      <td>{% trans "Customer out" %}</td><td>{{customer.email}}</td>
    </tr>
  </tbody>
</table>
{% endblock %}
