{% extends "stock/base-stock.html" %}
{% load i18n %}

{% block container %}
<nav class="navbar navbar-default" role="navigation">
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <a class="navbar-brand" href="{% url 'packages' %}">{% trans "Packages" %}</a>
    <ul class="nav navbar-nav">
      <li>
	<a href="{% url 'package-create' %}"><span class="glyphicon glyphicon-plus"></span>{% trans "New package" %}</a>
      </li>
    </ul>
  </div>
</nav>
{% if is_paginated %}
<ul class="pager">
  {% if page_obj.has_previous %}
  <li class="previous"><a href="/stock/packages?page={{ page_obj.previous_page_number }}">&larr; {% trans "Previous" %}</a></li>
  {% endif %}
  <li>{% trans "Page" %} {{ page_obj.number }} {% trans "of" %} {{ page_obj.paginator.num_pages }}.</li>
  {% if page_obj.has_next %}
  <li class="next"><a href="/stock/packages?page={{ page_obj.next_page_number }}">{% trans "Next" %} &rarr;</a></li>
  {% endif %}
</ul>
{% endif %}
<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <td>{% trans "Product" %}</td>
      <td>{% trans "Size" %}</td>
      <td>{% trans "Barcode" %}</td>
    </tr>
  </thead>
  <tbody>
    {% for package in packages %}
    <tr>
      <td>{{package.product}}</td>
      <td>{{package.size}}</td>
      <td>{{package.barcode}}</td>
      <td align="center">
        <a type="button" class="btn btn-default btn-xs" href="{% url 'package-detail' package.id %}">
          <span class="glyphicon glyphicon-eye-open"></span>
        </a>
        <a type="button" class="btn btn-default btn-xs" href="{% url 'package-edit' package.id %}">
          <span class="glyphicon glyphicon-edit"></span>
        </a>
        <a type="button" class="btn btn-default btn-xs"  href="{% url 'package-delete' package.id %}">
          <span class="glyphicon glyphicon-trash"></span>
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
