{% extends "stock/base-stock.html" %}
{% load i18n %}

{% block container %}
<h3>Products</h3>
<p>
  <a href="{% url 'product-create' %}"><span class="glyphicon glyphicon-plus"></span> New product </a>
</p>
<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <td>{% trans "Code" %}</td>
      <td>{% trans "Description" %}</td>
      <td>{% trans "Quantity" %}</td>
      <td>{% trans "Producer" %}</td>
    </tr>
  </thead>
  <tbody>
    {% for product in products %}
    <tr>
      <td>{{product.code}}</td>
      <td>{{product.description}}</td>
      <td>{{product.quantity}}</td>
      <td>{{product.producer}}</td>
      <td>
	<a href="{% url 'product-detail' product.code %}">
	  <span class="glyphicon glyphicon-eye-open"></span>
	</a>
	<a type="button" class="btn btn-default btn-xs" href="{% url 'product-edit' product.code %}">
	  <span class="glyphicon glyphicon-edit"></span>
	</a>
	<a type="button" class="btn btn-default btn-xs"  href="{% url 'product-delete' product.code %}">
	  <span class="glyphicon glyphicon-trash"></span>
	</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
