{% extends "stock/base-stock.html" %}

{% load i18n %}
{% block extra_head %}
{{ form.media }}
{% endblock %}

{% block title %}{% trans "Edit product" %}{% endblock %}

{% block container %}
  <div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">{% trans "Edit product" %}</h3>
  </div>
  <div class="panel-body">
    <form role="form" action="{{ form.success_url }}" method="post">
      {% csrf_token %}
      {% if form.non_field_errors %}
      <div class="form-group has-error">
	{% for error in form.non_field_errors %}
	<p class="help-block">{{ error }}</p>
	{% endfor %}
      </div>
      {% endif %}
      <fieldset>
	{% for field in form %}
	<div class="form-group {% if field.errors %}has-error{% endif %}">
	  <label class="form-control" for="id_{{ field.html_name }}">{{ field.label }}</label>
	  {% if field.errors %}
	  {% for error in field.errors %}
	  <p class="help-block">{{ error }}</p>
	  {% endfor %}
	  {% endif %}
	  {{ field }}
	</div>
	{% endfor %}
	<button type="submit" class="btn btn-default">{% trans "Save" %}</button>
	<a class="btn btn-default" href="{% url 'products' %}">{% trans "Cancel" %}</a>
      </fieldset>
    </form>
    {% endblock %}
  </div>
</div>

<!-- <div class="form-group has-success"> -->
<!--   <label class="control-label" for="inputSuccess">Input with success</label> -->
<!--   <input type="text" class="form-control" id="inputSuccess"> -->
<!-- </div> -->
<!-- <div class="form-group has-warning"> -->
<!--   <label class="control-label" for="inputWarning">Input with warning</label> -->
<!--   <input type="text" class="form-control" id="inputWarning"> -->
<!-- </div> -->
<!-- <div class="form-group has-error"> -->
<!--   <label class="control-label" for="inputError">Input with error</label> -->
<!--   <input type="text" class="form-control" id="inputError"> -->
<!--   </div> -->
