{% extends "templates/base.html" %}
{% load i18n %}
{% block title %}{% trans "Invoices management" %}{% endblock %}

{% block navbar %}
<li class="active">
  <a href="{% url 'customers' %}">{% trans "Customers" %}</a>
</li>
<li class="active">
  <a href="{% url 'orders' %}">{% trans "Orders" %}</a>
</li>
<li class="active">
  <a href="{% url 'invoices' %}">{% trans "Invoices" %}</a>
</li>
<li class="active">
  <a href="{% url 'payments' %}">{% trans "Payments" %}</a>
</li>
<li class="active">
  <a href="{% url 'headings' %}">{% trans "Headings" %}</a>
</li>
{% endblock %}
