{% extends "invoices/base-invoices.html" %}
{% load i18n %}
{% block container %}
<nav class="navbar navbar-default" role="navigation">
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <a class="navbar-brand" href="{% url 'customers' %}">{% trans "Customer" %}</a>
    <ul class="nav navbar-nav navbar-right">
      <li>
	<a type="button" class="btn btn-xs" href="{% url 'customer-edit' customer.id %}">
	  <span class="glyphicon glyphicon-edit"></span>
	</a>
      </li>
      <li>
	<a type="button" class="btn btn-xs"  href="{% url 'customer-delete' customer.id %}">
	  <span class="glyphicon glyphicon-trash"></span>
	</a>
      </li>
  </div>
</nav>
<table class="table table-hover">
  <tbody>
    <tr>
      <td>{% trans "Surname" %}</td><td>{{customer.surname}}</td>
    </tr>
    <tr>
      <td>{% trans "Name" %}</td><td>{{customer.name}}</td>
    </tr>
    <tr>
      <td>{% trans "Address" %}</td><td>{{customer.address}}</td>
    </tr>
    <tr>
      <td>{% trans "Tax code" %}</td><td>{{customer.tax_code}}</td>
    </tr>
    <tr>
      <td>{% trans "VAT code" %}</td><td>{{customer.vat_code}}</td>
    </tr>
    <tr>
      <td>{% trans "Phone" %}</td><td>{{customer.phone}}</td>
    </tr>
    <tr>
      <td>{% trans "Email" %}</td><td>{{customer.email}}</td>
    </tr>
    <tr>
      <td>{% trans "Last change by" %}</td><td>{{customer.lastchange_by}}</td>
    </tr>
    <tr>
      <td>{% trans "Last change on" %}</td><td>{{customer.lastchange}}</td>
    </tr>
  </tbody>
</table>
{% endblock %}
