{% extends "invoices/base-invoices.html" %}
{% load i18n %}

{% block container %}
<nav class="navbar navbar-default" role="navigation">
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <a class="navbar-brand" href="{% url 'invoices' %}">{% trans "Invoices" %}</a>
    <form class="navbar-form navbar-right" role="search" action="{% url 'invoices-search' %}" method="GET">
      <div class="form-group">
	<label class="sr-only" for="searchtext">{% trans "Search" %}</label>
	<input type="text" class="form-control" id="searchtext" placeholder="{% trans "Customer surname, name" %}"  name="q">
      </div>
      <button type="submit" class="btn btn-default">{% trans "Search" %}</button>
    </form>
  </div>
</nav>
{% if is_paginated %}
<ul class="pager">
  {% if page_obj.has_previous %}
  <li class="previous"><a href="/invoices/invoices?page={{ page_obj.previous_page_number }}">&larr; {% trans "Previous" %}</a></li>
  {% endif %}
  <li>{% trans "Page" %} {{ page_obj.number }} {% trans "of" %} {{ page_obj.paginator.num_pages }}.</li>
  {% if page_obj.has_next %}
  <li class="next"><a href="/invoices/invoices?page={{ page_obj.next_page_number }}">{% trans "Next" %} &rarr;</a></li>
  {% endif %}
</ul>
{% endif %}
<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <td>{% trans "Customer" %}</td>
      <td>{% trans "Date" %}</td>
      <td>{% trans "Voices count" %}</td>
      <td>{% trans "Total value" %}</td>
    </tr>
  </thead>
  <tbody>
    {% for invoice in invoices %}
    <tr>
      <td>
	{{invoice.customer}}
	<a type="button" class="btn btn-default btn-xs" href="{% url 'customer-detail' invoice.customer.id %}" data-toggle="tooltip" data-placement="left" title="{% trans "Customer details" %}">
	  <span class="glyphicon glyphicon-user"></span>
	</a>
      </td>
      <td>{{invoice.record_date}}</td>
      <td>{{invoice.voice_count}}</td>
      <td>{{invoice.total_value}} €</td>
      <td>
	<a type="button" class="btn btn-default btn-xs" href="{% url 'invoice-detail' invoice.id %}" data-toggle="tooltip" data-placement="left" title="{% trans "Detail" %}">
	  <span class="glyphicon glyphicon-eye-open"></span>
	</a>
	<a type="button" class="btn btn-default btn-xs"  href="{% url 'invoice-detail' invoice.id %}" data-toggle="tooltip" data-placement="left" title="{% trans "Print" %}">
	  <span class="glyphicon glyphicon-print"></span>
	</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
