{% extends "invoices/base-invoices.html" %}
{% load i18n %}
{% block container %}
<h3>{% trans "Invoice" %}</h3>
<p>
  <a type="button" class="btn btn-default btn-xs"  href="{% url 'invoice-print' invoice.id %}" data-toggle="tooltip" data-placement="left" title="{% trans "Print" %}">
    <span class="glyphicon glyphicon-print"></span>
  </a>
</p>
<table class="table table-hover">
  <tbody>
    <tr>
      <td>{% trans "Customer" %}</td><td>{{invoice.customer}}</td>
    </tr>
    <tr>
      <td>{% trans "Voices count" %}</td><td>{{invoice.voice_count}}</td>
    </tr>
    <tr>
      <td>{% trans "Total value" %}</td><td>{{invoice.amount}} €</td>
    </tr>
    <tr>
      <td>{% trans "Issued on" %}</td><td>{{invoice.date}}</td>
    </tr>
    <tr>
      <td>{% trans "Issued by" %}</td><td>{{invoice.issuer}}</td>
    </tr>
  </tbody>
</table>
<h3>{% trans "Voices" %}</h3>
<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <td>{% trans "Description" %}</td>
      <td>{% trans "Pieces" %}</td>
      <td>{% trans "Unit price" %}</td>
      <td>{% trans "Amount" %}</td>
    </tr>
  </thead>
  <tbody>
    {% for voice in invoice.voice_set.all %}
    <tr>
      <td>{{voice.description}}</td>
      <td>{{voice.pieces}}</td>
      <td>{{voice.unit_price}} €</td>
      <td>{{voice.amount}} €</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
