{% extends "invoices/base-invoices.html" %}
{% load i18n %}
{% block container %}
<nav class="navbar navbar-default" role="navigation">
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <a class="navbar-brand" href="{% url 'invoices' %}">{% trans "Invoice" %}</a>
    <ul class="nav navbar-nav navbar-right">
      <li>
	<a type="button" class="btn btn-xs"  href="{% url 'invoice-print' invoice.id %}" data-toggle="tooltip" data-placement="left" title="{% trans "Print" %}">
	  <span class="glyphicon glyphicon-print"></span>
	</a>
      </li>
  </div>
</nav>

<table class="table table-hover">
  <tbody>
    <tr>
      <td>{% trans "Customer" %}</td><td>{{invoice.customer}}</td>
    </tr>
    <tr>
      <td>{% trans "Payment type" %}</td><td>{{invoice.payment_type}}</td>
    </tr>
    <tr>
      <td>{% trans "Voices count" %}</td><td>{{invoice.voice_count}}</td>
    </tr>
    <tr>
      <td>{% trans "Total value" %}</td><td>{{invoice.amount}} €</td>
    </tr>
    <tr>
      <td>{% trans "Issued on" %}</td><td>{{invoice.date}}</td>
    </tr>
    <tr>
      <td>{% trans "Issued by" %}</td><td>{{invoice.issuer}}</td>
    </tr>
    <tr>
      <td>{% trans "Invoiced as" %}</td><td>{{invoice.heading_type}}</td>
    </tr>
  </tbody>
</table>
<h3>{% trans "Voices" %}</h3>
<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <td>{% trans "Description" %}</td>
      <td>{% trans "Pieces" %}</td>
      <td>{% trans "Unit price without VAT" %}</td>
      <td>{% trans "Amount without VAT" %}</td>
      <td>{% trans "VAT" %}</td>
      <td>{% trans "Unit price" %}</td>
      <td>{% trans "Amount" %}</td>
    </tr>
  </thead>
  <tbody>
    {% for voice in invoice.voice_set.all %}
    <tr>
      <td>{{voice.description}}</td>
      <td>{{voice.pieces}}</td>
      <td>{{voice.unit_price_novat}} €</td>
      <td>{{voice.amount_novat}} €</td>
      <td>{{voice.vat}} %</td>
      <td>{{voice.unit_price}} €</td>
      <td>{{voice.amount}} €</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
