{% extends "invoices/base-invoices.html" %}
{% load i18n %}
{% block container %}
<nav class="navbar navbar-default" role="navigation">
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <span class="navbar-brand">{% trans "Order" %}</span>
    <ul class="nav navbar-nav navbar-right">
      <li>
	<a type="button" class="btn btn-xs" href="{% url 'order-invoice' order.id %}" data-toggle="tooltip" data-placement="left" title="{% trans "Invoice" %}">
	  <span class="glyphicon glyphicon-shopping-cart"></span>
	</a>
      </li>
      <li>
	<a type="button" class="btn btn-xs"  href="{% url 'order-delete' order.id %}" data-toggle="tooltip" data-placement="left" title="{% trans "Delete" %}">
	  <span class="glyphicon glyphicon-trash"></span>
	</a>
      </li>
    </ul>
  </div>
</nav>
<table class="table table-hover">
  <tbody>
    <tr>
      <td>{% trans "Customer" %}</td><td>{{order.customer}}</td>
    </tr>
    <tr>
      <td>{% trans "Items count" %}</td><td>{{order.item_count}}</td>
    </tr>
    <tr>
      <td>{% trans "Amount" %}</td><td>{{order.amount}} €</td>
    </tr>
    <tr>
      <td>{% trans "Last change by" %}</td><td>{{order.lastchange_by}}</td>
    </tr>
    <tr>
      <td>{% trans "Last change on" %}</td><td>{{order.lastchange}}</td>
    </tr>
  </tbody>
</table>
<nav class="navbar navbar-default" role="navigation">
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <span class="navbar-brand">{% trans "Items" %}</span>
    <ul class="nav navbar-nav navbar-right">
      <li>
	<a href="{% url 'item-create' order.id %}" data-toggle="tooltip" data-placement="left" title="{% trans "New item" %}">
	  <span class="glyphicon glyphicon-plus"></span>
	</a>
      </li>
    </ul>
  </div>
</nav>
<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <td>{% trans "Pieces" %}</td>
      <td>{% trans "Product" %}</td>
      <td>{% trans "Unit price without VAT" %}</td>
      <td>{% trans "Amount without VAT" %}</td>
      <td>{% trans "VAT" %}</td>
      <td>{% trans "Unit price" %}</td>
      <td>{% trans "Amount" %}</td>
    </tr>
  </thead>
  <tbody>
    {% for item in order.item_set.all %}
    <tr>
      <td>{{item.pieces}}
	{% if item.as_packages != "N/A" %}
	(packages {{item.as_packages.0}} and {{item.as_packages.1}} pieces)
	{% endif %}</td>
      <td>{{item.price.product}}</td>
      <td>{{item.price.unit_price}} €</td>
      <td>{{item.amount_novat}} €</td>
      <td>{{item.price.vat_out}} %</td>
      <td>{{item.price.price_out}} €</td>
      <td>{{item.amount}} €</td>
      <td>
	<a type="button" class="btn btn-default btn-xs" href="{% url 'item-edit' order.id item.id %}">
	  <span class="glyphicon glyphicon-edit"></span>
	</a>
	<a type="button" class="btn btn-default btn-xs"  href="{% url 'item-delete' order.id item.id %}">
	  <span class="glyphicon glyphicon-trash"></span>
	</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
