{% extends "invoices/base-invoices.html" %}
{% load i18n %}

{% block container %}
<nav class="navbar navbar-default" role="navigation">
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <a class="navbar-brand" href="{% url 'orders' %}">{% trans "Orders" %}</a>
    <ul class="nav navbar-nav">
      <li>
	<a href="{% url 'order-create' %}">
	  <span class="glyphicon glyphicon-plus"></span>{% trans "New order" %}</a>
      </li>
    </ul>
    <form class="navbar-form navbar-right" role="search" action="{% url 'orders-search' %}" method="GET">
      <div class="form-group">
	<label class="sr-only" for="searchtext">{% trans "Search" %}</label>
	<input type="text" class="form-control" id="searchtext" placeholder="{% trans "Customer surname, name" %}"  name="q">
      </div>
      <button type="submit" class="btn btn-default">{% trans "Search" %}</button>
    </form>
  </div>
</nav>
{% if is_paginated %}
<ul class="pager">
  {% if page_obj.has_previous %}
  <li class="previous"><a href="/invoices/orders?page={{ page_obj.previous_page_number }}">&larr; {% trans "Previous" %}</a></li>
  {% endif %}
  <li>{% trans "Page" %} {{ page_obj.number }} {% trans "of" %} {{ page_obj.paginator.num_pages }}.</li>
  {% if page_obj.has_next %}
  <li class="next"><a href="/invoices/orders?page={{ page_obj.next_page_number }}">{% trans "Next" %} &rarr;</a></li>
  {% endif %}
</ul>
{% endif %}
<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <td>{% trans "Customer" %}</td>
      <td>{% trans "Date" %}</td>
      <td>{% trans "Items count" %}</td>
      <td>{% trans "Total value" %}</td>
    </tr>
  </thead>
  <tbody>
    {% for order in orders %}
    <tr>
      <td>
	<a href="{% url 'customer-detail' order.customer.id %}">
	  <span class="glyphicon glyphicon-eye-open"></span>
	</a>{{order.customer}}
      </td>
      <td>{{order.record_date}}</td>
      <td>{{order.item_count}}</td>
      <td>{{order.total_value}} €</td>
      <td>
	<a type="button" class="btn btn-default btn-xs" href="{% url 'order-detail' order.id %}">
	  <span class="glyphicon glyphicon-edit"></span>
	</a>
	<a type="button" class="btn btn-default btn-xs"  href="{% url 'order-delete' order.id %}">
	  <span class="glyphicon glyphicon-trash"></span>
	</a>
	<a type="button" class="btn btn-default btn-xs" href="{% url 'order-invoice' order.id %}">
	  <span class="glyphicon glyphicon-shopping-cart"></span>
	</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
